:root {
    --rosa-claro: rgb(235, 199, 206);
    --rosa-medio: rgb(228, 137, 164);
    --rosa-fondo: rgb(249, 230, 225);
    --rosa-profundo: rgb(209, 167, 180);
    --rosa-suave: rgb(250, 236, 239);
    --beige: #f5f5dc;
    --moka: #b89b82;
}


body {
    background: var(--rosa-suave);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pass-wrapper {
    min-height: calc(100vh - 160px); /* Ajuste para navbar + footer */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.recovery-pass {
    max-width: 400px;
    width: 100%;
    padding: 30px 25px;
    background-color: #fef6f8;
    border: 1px solid #e0bfc7;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

    .recovery-pass h2 {
        text-align: center;
        color: #a0435c;
        margin-bottom: 10px;
    }


.separator {
    border: none;
    height: 2px;
    background-color: #d1a7b4;
    margin: 20px 0;
}

.form-control {
    border: 1px solid #d9b8c1;
    border-radius: 8px;
    padding: 10px;
    font-size: 1em;
    transition: border-color 0.3s;
}

    .form-control:focus {
        border-color: #a0435c;
        box-shadow: none;
    }

.btn-recovery {
    width: 100%;
    padding: 12px;
    background-color: #d1a7b4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #a0435c;
}

.logo-eterea-container {
    animation: fadeInLogo 1.5s ease-in-out;
}

.logo-eterea {
    max-height: 150px;
    width: auto;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    animation: floatLogo 3s ease-in-out infinite;
}

    .logo-eterea:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

/* Animación de entrada */
@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de flotación suave */
@keyframes floatLogo {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}
