
body {
    padding-top: 70px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Esta clase envuelve el contenido y permite crecer en altura */
.body-content {
    flex: 1;
}

/* Estilo para que container-fluid p-0 sea full width sin padding ni margen */
.container-fluid.p-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
}

/* Footer con ancho centrado */
.footer {
    background-color: rgb(209, 167, 180);
    color: white;
    font-size: 0.95rem;
    width: 100%;
}

    .footer .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer h5 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer .social-icons a {
        color: white;
        transition: color 0.3s ease;
    }

        .footer .social-icons a:hover {
            color: #f1f1f1;
        }
   .links-mas-sobre-nosotros{
        font-size: .95rem
    }
    /* Navbar personalizado */
    .custom-footer {
        background-color: rgb(209, 167, 180);
        width: 100%;
    }

    .custom-footer > .container {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

/* Navbar personalizado */
.custom-navbar {
    background-color: rgb(209, 167, 180);
    width: 100%;
}

    .custom-navbar > .container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

.navbar .nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .navbar .nav-link i {
        font-size: 1.2em;
    }

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}


/* Dropdown usuario */
.dropdown-menu {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 220px;
    padding: 8px 0;
    font-size: 0.95rem;
}

    .dropdown-menu .dropdown-item {
        padding: 10px 20px;
        color: rgb(80, 80, 80);
        transition: background-color 0.3s ease, color 0.3s ease;
        display: flex;
        align-items: center;
        gap: 8px;
    }

        .dropdown-menu .dropdown-item i {
            color: rgb(209, 167, 180);
            font-size: 1rem;
        }

        .dropdown-menu .dropdown-item:hover {
            background-color: rgb(249, 230, 225);
            color: black;
        }

.dropdown-divider {
    margin: 6px 0;
    border-top: 1px solid rgb(230, 230, 230);
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.logo-link img {
    transition: transform 0.3s ease;
}

.logo-link:hover img {
    animation: floatUpDown 2s ease-in-out infinite;
    cursor: pointer;
}

